len()

The len() function returns the number of items in an object.

When the object is a string, the len() function returns the number of characters in the string.


#quiz 1

In [7]:
a = [1,1,2,2,3,3,4,4,5,5]

In [8]:
print (a)

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5]

In [9]:
len(a)

10

In [4]:
b = {1,1,2,2,3,3,4,4,5,5}

In [5]:
print (b)

{1, 2, 3, 4, 5}

In [6]:
len(b)

5

In [7]:
c = 'Kampus Merdeka'

In [10]:
print(c)

Kampus Merdeka

In [9]:
len(c)

14

min () and max.

The min() function returns the item with the lowest value, or the item with the lowest value in an iterable. If the values are strings, an alphabetically comparison is done.

The max() function returns the item with the highest value, or the item with the highest value in an iterable. If the values are strings, an alphabetically comparison is done.

#quiz 2

In [19]:
a = [1,1,2,2,3,3,4,4,5,5]

In [20]:
min(a)

1

In [21]:
max(a)

5

In [10]:
b = ['Adam','Lewis','Burhan','Salim','Ahmad','Hana','Dea','Omar']

In [11]:
min(b)

'Adam'

In [12]:
max(b)

'Salim'

count ()

The count() method returns the number of elements with the specified value or the number of times a specified value appears in the string.

In [14]:
a = [1,1,2,2,3,3,4,4,5,5]

In [15]:
a.count(5)

2

In [16]:
b = 'Kampus Merdeka'

In [18]:
b.count('e')

2

Merging (+) dan Replication (*)

To concatenate, or combine, two strings you can use the + operator.

To double or more strings, you can use the * operator.

#quiz 3

In [22]:
a = [0,9,8,7,6,5,0,9,8,7,6,5]

In [23]:
b = ['k','a','m','p','u','s']

In [26]:
b + a

['k', 'a', 'm', 'p', 'u', 's', 0, 9, 8, 7, 6, 5, 0, 9, 8, 7, 6, 5]

In [30]:
b*2

['k', 'a', 'm', 'p', 'u', 's', 'k', 'a', 'm', 'p', 'u', 's']

In [2]:
c = ['b','e','s','t','i','e']*2

In [3]:
print (c)

['b', 'e', 's', 't', 'i', 'e', 'b', 'e', 's', 't', 'i', 'e']

In [6]:
x = 'bestie'
y = ' love'
z = x + y
print (z)

bestie love

range()

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

#quiz 4

In [36]:
for a in range(8):
    print(a)

0
1
2
3
4
5
6
7

In [38]:
for b in range (1,5):
    print (b)

1
2
3
4

In [39]:
for c in range (1,10,3):
    print (c)

1
4
7

in and not in

When used in a condition, the statement returns a Boolean result evaluating into either True or False. When the specified value is found inside the sequence, the statement returns True. Whereas when it is not found, we get a False.

#quiz 5

In [46]:
a = 'oh masih adakah cinta yang abadi menyatukan dua hati saling isi'

In [47]:
'cinta' in a

True

In [48]:
'benci' in a

False

In [49]:
'segitiga' not in a

True

Giving value in multiple variable

In [50]:
minuman = ['boba','brown sugar','cream cheese']

In [51]:
print (minuman)

['boba', 'brown sugar', 'cream cheese']

In [53]:
nama = minuman[0]

In [54]:
print (nama)

boba

In [55]:
jenis = minuman[1]

In [56]:
topping = minuman[2]

In [58]:
print (nama, jenis, topping)

boba brown sugar cream cheese

In [70]:
snack = ['risol mayo','telur daging','pedas']

In [71]:
print(snack)

['risol mayo', 'telur daging', 'pedas']

In [72]:
jajan = snack[0]

In [73]:
isian = snack[1]

In [74]:
rasa = snack [2]

In [75]:
print(jajan, isian, rasa)

risol mayo telur daging pedas

Python has a best practical way

we can give values in multiple variables from list and tuple elements.

the amount of variable and item must have same amount.

In [59]:
minuman = ['boba','brown sugar','cream cheese']

In [60]:
nama, jenis, topping = minuman

In [63]:
print (nama, jenis, topping)

boba brown sugar cream cheese

In [76]:
snack = ['risol mayo','telur daging','pedas']

In [79]:
jajan, isian, rasa = snack

In [81]:
print(jajan, isian, rasa)

risol mayo telur daging pedas

we can change two or more variables

In [65]:
ayam, sambal = 'matah', 'betutu'

In [66]:
ayam, sambal = sambal, ayam

In [67]:
ayam

'betutu'

In [68]:
sambal

'matah'

sort()

- sort() method will sort the list alphanumerically (ascending)
#quiz 2

In [90]:
nabi= ['adam','idris','nuh','hud','sholeh','ibrahim']

In [91]:
nabi.sort()

In [92]:
print(nabi)

['adam', 'hud', 'ibrahim', 'idris', 'nuh', 'sholeh']

To sort descending, use the keyword argument reverse = True

In [93]:
nabi.sort(reverse=True)

In [94]:
print(nabi)

['sholeh', 'nuh', 'idris', 'ibrahim', 'hud', 'adam']

sort() method cannot be run for combinations between int and str

In [13]:
no = ["B",2,1,"A","C"]
no.sort()
print(no)

TypeError: '<' not supported between instances of 'int' and 'str'

In [96]:
angel = ['Mikael','izrail','munkar','Nakir','Malik']

In [97]:
angel.sort()

In [98]:
print(angel)

['Malik', 'Mikael', 'Nakir', 'izrail', 'munkar']

Use **str.lower** as a key function to sort by the first letter.

In [99]:
angel.sort(key=str.lower)

In [100]:
print(angel)

['izrail', 'Malik', 'Mikael', 'munkar', 'Nakir']